{% comment %}<!--
Recent posts display helper

Intended for landing page of my blog

Will display four most recent posts, a snippet of the first paragraph,
an image (if the post has any), and a link to the real thing
	

-->{% endcomment %}
<ul class='unstyled'>
{% for post in posts_collate limit:4 %}
  {% if forloop.index == 1 %}
  <h2>{{ post.title }}</h2>
  <span class='post_date'>
	&raquo; Posted {{ post.date | date: "%B %e, %Y" }}
  </span> 
  <div>
	{{ post.content }}
  </div>
  <h2>Recent Posts</h2>
  {% else %}
  <li>
	  <p class='post_title'>
		  <a href="{{ post.url }}">{{ post.title }}</a>
	  </p>
	  <p>
		  <span class='post_date'>
			  &raquo; {{ post.date | date: "%B %e, %Y" }}
		  </span> 
	  </p>
	  <p class='teaser'>
		  {{ post.teaser }}<a href="{{ post.url }}"> Read more...</a>
	  </p>
	</li>
  {% endif %}
  
{% endfor %}
</ul>
{% assign posts_collate = null %}
