<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ theme_asset_path }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ theme_asset_path }}/css/garbanzo.css?body=1" rel="stylesheet" type="text/css" media="all">


    <link rel="shortcut icon" href="/favicon.ico">

</head>

<body>
    <div class="container">
        <div class="col-lg-3">
          <h1 class='site_title'>
              <a class="brand" href="/blog">
                <p class='col-lg-4 site_brand_img'>
                    <img src="/assets/img/typewriter.png" alt="typewriter icon" class='site_brand_img'>
                    
                </p>
                <h1 class='site_brand_text col-lg-7'>{{ site.title }}</h1>
            </a>
          </h1>
          <ul class="nav list-unstyled site_side_nav">
              <li><a href="/blog/archive.html">Archive</a></li>
              <li><a href='/blog/reading_list.html'>Reading List</a></li>
              <li><a href="/blog/about.html">About</a></li>
          </ul>
        </div>
        <div class="col-lg-9">
            <div class="content another">
                {{ content }}
            </div>
            
        </div>
    </div>


    <footer class='container blog_footer'>
        <p class='col-lg-6 col-lg-push-3'>&copy; {{ site.author.name }} 2014</p>
    </footer>

    {% include production/analytics.html %}

</body>

</html>
